/*-- Font-Face --*/
/*RobotoCondensed-Regular*/

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'RobotoCondensed-Regular';
    }
}
/*RobotoCondensed-Light*/
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'RobotoCondensed-Light';
    }
}
/*RobotoCondensed-LightItalic*/
@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'RobotoCondensed-LightItalic';
    }
}
/*RobotoCondensed-Italic*/
@font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'RobotoCondensed-Italic';
    }
}
/*RobotoCondensed-Bold*/
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'RobotoCondensed-Bold';
    }
}
/*RobotoCondensed-BoldItalic*/
@font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    src: url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'RobotoCondensed-BoldItalic';
    }
}
