

body {
    /*font-family: "FS NokioRegular",sans-serif;*/
    font-family: 'RobotoCondensed-Regular', sans-serif;
    font-size: 16px;
}

.logo-box {
    width: 140px;
    margin: auto;
    padding: 20px 0;
}

    .logo-box .logo-image {
        width: 100%;
        height: auto;
    }

.bg-main {
    background: #222;
}

.nav-top {
    background: #2b2b2b;
    margin: 0;
    border: 0;
    border-top: 1px solid #444;
    box-shadow: inset 0 -1px 0 0 #111;
}

.search-by-date {
    padding: 20px 0;
}

.search-label {
    color: #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 5px;
    /*font-family: "FS NokioBold",sans-serif;*/
    font-family: 'RobotoCondensed-Bold', sans-serif;
}

.search-input-key, .search-input-date {
    color: #111111;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000000;
    background-image: none;
    padding: 15px 45px 15px 15px;
    font-size: 16px;
}

.search-btn {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background: #e7c568;
}

    .search-btn:hover {
        color: #fff;
        background: #e7c568;
    }

.menu-main > li > a {
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
    /*font-family: "FS NokioBold",sans-serif;*/
    font-family: 'RobotoCondensed-Bold', sans-serif;
}

.menu-main > .active > a, .menu-main > .active > a:focus, .menu-main > .active > a:hover {
    background: transparent !important;
    color: #fff !important;
}

.menu-main > li > a:focus, .menu-main > li > a:hover {
    color: #fff !important;
    background-color: transparent;
}

.menu-second li a {
    font-size: 13px !important;
    color: #e7c568 !important;
    font-weight: 400 !important;
}

.header {
    background: #111;
}

.search-all {
    background-color: #444;
    border-color: #111;
    border-radius: 0;
    color: #fff;
    padding: 6px 30px 6px 12px;
    border-right: 0;
}

.search-all-btn {
    color: #fff;
    background: #444;
    border: 1px solid #111;
    border-radius: 0;
    border-left: 0;
}

    .search-all-btn:hover, .search-all-btn:focus {
        background: #444;
        border: 1px solid #111;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-left: 0;
        color: #b5b5b5;
    }

.search-all::-webkit-input-placeholder {
    color: #fff;
}

.search-all:focus {
    background: #444;
    color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #111;
    border-right: 0;
}

    .search-all:focus::-webkit-input-placeholder {
        color: #b5b5b5;
    }

.slider {
    width: 100%;
}

.home-slide .slick-prev {
    left: -40px;
}

.home-slide .slick-slide {
    margin: 0px;
}


.slick-slide {
    margin: 0px 10px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-prev:before, .slick-next:before {
    font-size: 38px;
}

bootstrap.scss:1 :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.home-slide {
    background: #111;
    padding: 10px 0;
}

.slick-dots li button:before {
    color: #fff;
    font-size: 18px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}

.slick-active {
    opacity: 1;
}

.home-about {
    padding: 40px 0;
    color: #fff;
}

.area-title {
    text-align: center;
    text-transform: uppercase;
    /*font-family: "FS NokioBold",sans-serif;*/
    font-family: 'RobotoCondensed-Bold', sans-serif;
}

    .area-title h3 {
        font-size: 40px;
    }


.about-content {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}

.about-image {
    padding: 10px 0;
}

    .about-image img {
        width: 100%;
    }

.about-content blockquote {
    text-align: right;
    font-size: 34px;
    border: 0;
}

    .about-content blockquote:before {
        font-family: 'icons';
        content: "\275d";
        font-size: 50px;
        color: rgb(231, 197, 104);
        text-shadow: 0 1px 1px rgba(255,255,255,0.1);
    }

    .about-content blockquote:after {
        font-family: 'icons';
        content: '\275e';
        font-size: 50px;
        color: rgb(231, 197, 104);
        text-shadow: 0 1px 1px rgba(255,255,255,0.1);
    }

.about-content-more {
    padding: 10px 0;
    font-size: 20px;
}

.hidden-content {
    display: none;
    padding: 20px 0;
}

.hidden-content_box {
    padding: 10px 15px;
}

input[type=checkbox].show-hide-btn {
    display: none;
}

    input[type=checkbox].show-hide-btn:checked ~ .hidden-content {
        display: block;
    }

.hide-action {
    display: none;
}

input[type=checkbox].show-hide-btn:checked + label > span.hide-action {
    display: block;
}

input[type=checkbox].show-hide-btn:checked + label > span.show-action {
    display: none;
}

label.show-hide-content-action {
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    padding: 6px 12px;
    margin: auto;
    display: inherit;
    text-align: center;
    cursor: pointer;
}

    label.show-hide-content-action:hover {
        border: 1px solid #e7c568;
        color: #e7c568;
    }

.home-dramma {
    padding: 40px 0;
    background: rgba(24,22,22,1);
    color: #fff;
}

.hot-dramma {
    display: flex;
    padding: 10px;
    border: 1px solid #e7c568;
    background: #e7c568;
    color: #111;
}

    .hot-dramma .hot-dramma__timestamp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 1rem;
    }

    .hot-dramma .hot-dramma__timestamp {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

        .hot-dramma .hot-dramma__timestamp .date-day {
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            font-size: 5.375rem;
            line-height: 1;
            margin-right: 10%;
            letter-spacing: -0.05em;
        }

        .hot-dramma .hot-dramma__timestamp .date-short {
            text-transform: uppercase;
            font-size: 100%;
            line-height: 1.5;
            letter-spacing: 1px;
        }

    .hot-dramma .hot-dramma__title {
        font-size: 36px;
        font-weight: 600;
        color: #111;
        margin: 0;
    }

    .hot-dramma .hot-dramma__image img {
        height: 100%;
        width: auto;
    }

    .hot-dramma .hot-dramma__image {
        /*display: flex;*/
        /*margin: 3vh 15px;*/
        z-index: 1;
    }

    .hot-dramma .hot-dramma__image {
        /*width: 12.5vh;
        background-size: cover;
        background-position: center center;*/
        margin: 0;
        flex-shrink: 0;
        align-self: stretch;
    }

    .hot-dramma .hot-dramma__image {
        /*width: 22rem;
        max-width: 100%;*/
        height: 500px;
    }

    .hot-dramma .hot-dramma__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding: 3%;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

.hot-dramma-slide {
    padding: 3%;
}

    .hot-dramma-slide .slick-next {
        right: -5px;
    }


.dramma-slide-item {
    text-align: left;
    display: none;
    flex-direction: column;
    border-radius: 2px;
    align-content: space-between;
    width: 100%;
    display: flex;
    margin-top: -2rem;
}

.dramma-slide-item__image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.dramma-slide-item__timestamp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem;
}

.dramma-slide-item__timestamp {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

    .dramma-slide-item__timestamp .date-day {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: 5.375rem;
        line-height: 1;
        margin-right: 10%;
        letter-spacing: -0.05em;
    }

    .dramma-slide-item__timestamp .date-short {
        text-transform: uppercase;
        font-size: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
    }

.dramma-slide-item__title {
    font-size: 20px;
    font-weight: 300;
    max-width: 18.75rem;
    color: #e7c568;
}

.dramma-slide-item__description {
    font-size: 13px;
}

.footer {
    padding: 30px 0 0;
    border-top: 5px solid #e7c568;
    background-color: #2b2b2b;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
}

.list-unstyled, .list-inline {
    padding-left: 0;
    list-style: none;
}

    .list-inline > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

        .list-inline > li:first-child {
            padding-left: 0;
        }

.footer-social-icons {
    font-size: 30px;
}

    .footer-social-icons i {
        color: #ccc;
    }

.gray-link-lt {
    color: #ccc;
}

    .gray-link-lt:hover {
        color: #fff;
    }

.footer-headers {
    text-transform: uppercase;
    color: #eee;
    padding: 15px 0;
    font-weight: bold;
    line-height: 1.286;
    margin: 0;
}

.almost-white-link {
    color: #eee;
}

    .almost-white-link:hover {
        color: #fff;
    }

.footer-logo img {
    width: 60%;
}

.home-article {
    padding: 40px 0;
    color: #fff;
}

.recent-post .media {
    background-color: #ffffff;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.recent-post .media-link {
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    float: left;
}

.recent-post.alt .media-link .media-object {
    width: 100%;
    max-width: 100%;
}

.recent-post .media-body {
    font-size: 16px;
    line-height: 18px;
    padding: 10px;
}

.recent-post .media-heading {
    font-size: 18px;
    font-weight: 900;
}

    .recent-post .media-heading a {
        color: #2a3942;
    }

.recent-post .media-excerpt {
    line-height: 24px;
    font-size: 15px;
    color: #333;
}

.widget-categories ul li a:before {
    content: '\f0a9';
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 5px;
}

.widget-categories ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}

    .widget-categories ul li a {
        display: block;
        padding: 5px 0 5px 20px;
        position: relative;
        color: #fff;
    }

        .widget-categories ul li a:hover:before {
            color: #e7c568;
        }

    .widget-categories ul li + li {
       border-top: solid 1px rgba(249, 249, 249, 0.1);
    }

.ngay_tt {
    color: #a09c9c;
    font-size: 13px;
    font-style: italic;
}

.home-gift {
    padding: 40px 0;
    background: rgba(24,22,22,1);
    color: #fff;
}

.gift-list-item img {
    width: 100%;
}

.more-btn-box {
    padding: 20px 0;
}

.more-btn {
    font-size: 24px;
    background: #e7c568;
    box-shadow: #111 0px 1px 0px 0px;
    background-image: -webkit-linear-gradient(top, #e7c568 0%, #e7c568 100%);
    background-image: linear-gradient(to bottom, #e7c568 0%, #e7c568 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF429BFF', endColorstr='#FF0069E0', GradientType=0);
    background-size: auto 200%;
    background-position: 0 100%;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    padding: 12px 40px;
}

    .more-btn:hover {
        color: #fff;
    }

.hidden-content img {
    width: 100%;
}

.sub-footer {
    font-size: 14px;
    border-top: 1px solid #444;
    overflow: hidden;
    margin-bottom: 20px;
    color: #eee;
    padding: 15px 0;
    font-weight: bold;
    line-height: 1.286;
    margin: 0;
}

.section-header {
    display: block;
    position: relative;
    margin-bottom: 5px;
}

    .section-header:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        left: 85%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #e7c568;
        top: calc(50% - 5px);
        -webkit-box-shadow: 8px -8px #e7c568;
        box-shadow: 8px -8px #e7c568;
    }

    .section-header:after {
        position: absolute;
        content: '';
        width: 65%;
        height: 1px;
        left: 22%;
        background: #e7c568;
        top: 50%;
    }

.section-head {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-top: 11px;
}

    .section-head:before {
        position: absolute;
        content: '';
        width: 99.9%;
        height: calc(100% + 20px);
        right: -10px;
        top: -10px;
        border: 1px solid #e7c568;
        /*background: #f1f1f1;*/
        z-index: -1;
    }

    .section-head span {
        font-size: 13px;
        color: #111;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 50px;
        display: inline-block;
        position: relative;
        padding-left: 50px !important;
        padding-right: 20px !important;
        text-align: center;
        background: #e7c568;
        z-index: 2;
        text-shadow: 0.5px 0.5px 0 rgba(255,255,255,.5);
    }

        .section-head span:after {
            position: absolute;
            content: '';
            width: 100px;
            height: 5px;
            left: calc(100% + 10px);
            background: #e7c568;
            top: calc(50% - 2.5px);
        }

.home-contact {
    padding: 40px 0;
    background: #222;
    color: #fff;
    background-color: #111111;
    background-image: -webkit-linear-gradient(top, #111 0%, #1a2b38 100%);
    background-image: linear-gradient(to bottom, #111 0%, #1a2b38 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF111111', endColorstr='#FF1A2B38', GradientType=0);
}

.home-contact h4 {
        font-size: 32px;
}

.contact-list {
    text-align: right;
}

.contact-list  ul {
    padding-left: 0;
    list-style: none;
}